<div class="fixed top-0 left-0 right-0 z-50 w-full  text-[#0C111C] flex justify-between items-center py-4  px-4 md:px-8  border-b  bg-base-section/70 backdrop-blur-md   border-white/10">

  <div class="flex items-center justify-between lg:max-w-7xl mx-auto w-full ">

    <div class="flex items-center gap-4 ">
      <h1 class=" text-xl sm:text-2xl md:text-3xl font-bold bg-gradient-to-br from-accent-purple to-accent-blue text-transparent bg-clip-text">Movie App</h1>
    </div>

    @if(isLoggedIn){
      <div  class="flex items-center  text-sm sm:text-md md:text-lg font-bold">
        <p class="text-base-heading">Welcome,
          <span>{{user.username}}</span>
        </p>
      </div>
    }

    @if(isLoggedIn){
    <div class="flex items-center gap-2  text-md  text-base-heading hover:text-red-700 transition-all duration-100 cursor-pointer" (click)="logout()">
      <span class="hidden sm:block">Logout</span>
      <lucide-angular [img]="LogOutIcon" class="my-icon w-4 sm:w-6 md:w-8"></lucide-angular>

    </div>
    }

  </div>

</div>
