<div (click)="gotoproductdetail(movie.imdbID)" class="flex flex-col gap-4 w-full h-full hover:scale-105 hover:cursor-pointer transition-all duration-300">
  <div class="bg-base-nav w-full h-full flex flex-col gap-2 p-2 rounded-lg border border-base-text/20 shadow-md hover:shadow-lg hover:border-accent-blue/50 transition-all duration-300">

    <div class=" overflow-hidden max-h-[300px] w-full flex items-center justify-center">
      <img [src]=" movie.poster" alt="movie image" class="max-w-sm h-full object-cover  ">
    </div>

    <div class=" short-details flex flex-col gap-1 ">

      <h2 class=" text-base-heading text-lg font-semibold  min-h-[60px] line-clamp-2">{{movie.title}}</h2>
      <h4 class="text-sm font-semibold text-base-text">{{movie.type}}</h4>
    </div>


  </div>
</div>
